# RStudio
.Rproj.user
.RData
.RDataTmp
.Rhistory
*.Rproj

# VSCode
*.code-workspace

# Analýza
data/
analyza_cache/html
*.png
*.html

# Bakalářská práce
bakalarska-prace/kod/

# LaTeX
*.xmpi
*.bcf
*.run.xml
*.gz